.projects-section-title {
  margin: 0 0 4.5rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.project-wrapper-text-title {
  font-weight: 700;
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
  text-align: left;
}

.project-text {
  text-align: left;
  font-size: 20px;
}

.cta-btn--website {
  color: #20d18d;
  border: 2px solid #20d18d;
  transition: 1s;
  display: inline-block;
  position: relative;
  padding: 9px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  margin-right: 10px;
}
.cta-btn--website:hover {
  color: white;
  background-position: top left;
  background-color: #20d18d;
  text-decoration: none;
}

.project-gif {
  padding: 8px;
  /* border: 1px solid gray; */
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  max-width: 100%;
}

.margin-top-36 {
  margin-top: 36px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .project-wrapper-text-title {
    text-align: center;
  }

  .project-text {
    text-align: center;
  }
}
