.projects {
  color: #3f4442;
  background: #e0f6fd;
}

.projects-title {
  font-size: 3.5em;
  padding-top: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .projects-title {
    font-size: 2.5em;
  }
}
