.my-img {
  height: auto;
  border-radius: 0.5em;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.my-img:hover {
  transform: scale(1.05);
}

.about-title {
  font-size: 3.5em;
  font-weight: 700;
  color: white;
  padding: 0.5em 0;
}

.about-wrapper {
  background-image: url('../../assets/aboutBg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35vh;
}

.about-text {
  text-align: center;
  color: white;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

.resumeBtn {
  color: #fff;
  border-radius: 0.5em;
  font-family: 'Orbitron', sans-serif;
  margin: 1em auto;
  border: 0.1em solid #fff;
  font-size: 1.3em;
  display: inline-block;
  position: relative;
  padding: 0.7em;
  font-weight: 700;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.resumeBtn:hover {
  color: #c52dda;
  transform: scale(1.05);
  background-position: top left;
  background-color: white;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .about-text {
    font-size: 1em;
  }
  .about-title {
    font-size: 2.5em;
    padding: 0.5em 0;
  }
  .resumeBtn {
    margin: 2em auto;
  }
}
