.headerBtn {
  color: #fff;
  border: 0.1em solid #fff;
  display: inline-block;
  position: relative;
  border-radius: 0.5em;
  margin-top: 1em;
  padding: 0.4em 0.8em;
  font-size: 1.6em;
  font-weight: 700;
  z-index: 1;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.headerBtn:hover {
  color: #30c9b4;
  background-color: #fff;
  text-decoration: none;
  transform: scale(1.05);
}
.opening-text {
  font-size: 2.5em;
  font-weight: 700;
}
.header-title {
  padding-top: 13em;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.header-text {
  width: 60%;
  margin: 0 auto;
}
.name-text-color {
  color: #30c9b4;
}

.header-section {
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  background: #fff;
  font-weight: 400;
  color: #272341;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@media only screen and (max-width: 786px) {
  /* For mobile phones: */
  .opening-text {
    font-size: 2em;
  }

  .header-text {
    width: 90%;
  }

  .title {
    top: 40%;
  }
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1871px 191px #fff, 631px 1280px #fff, 1247px 1959px #fff,
    1894px 1698px #fff, 1762px 1049px #fff, 1039px 1917px #fff,
    1621px 261px #fff, 622px 865px #fff, 1340px 1389px #fff, 577px 82px #fff,
    594px 791px #fff, 1621px 1095px #fff, 1738px 1161px #fff, 2px 487px #fff,
    1965px 719px #fff, 1240px 1597px #fff, 195px 1338px #fff, 999px 848px #fff,
    1178px 828px #fff, 451px 1444px #fff, 180px 852px #fff, 16px 1343px #fff,
    604px 1258px #fff, 1315px 1967px #fff, 805px 1090px #fff, 273px 991px #fff,
    621px 1617px #fff, 1240px 1223px #fff, 1244px 257px #fff, 654px 1416px #fff,
    1343px 118px #fff, 109px 1335px #fff, 1423px 988px #fff, 819px 1052px #fff,
    659px 986px #fff, 188px 1321px #fff, 192px 1815px #fff, 388px 107px #fff,
    1824px 760px #fff, 842px 497px #fff, 1622px 1446px #fff, 216px 878px #fff,
    668px 410px #fff, 303px 678px #fff, 469px 281px #fff, 495px 1908px #fff,
    120px 896px #fff, 89px 1374px #fff, 1719px 470px #fff, 45px 1230px #fff,
    312px 652px #fff, 817px 700px #fff, 965px 239px #fff, 1625px 462px #fff,
    1332px 1229px #fff, 1857px 176px #fff, 518px 908px #fff, 1936px 1045px #fff,
    1858px 1595px #fff, 466px 783px #fff, 1736px 1729px #fff, 276px 1296px #fff,
    293px 507px #fff, 835px 616px #fff, 1505px 1237px #fff, 1380px 337px #fff,
    337px 782px #fff, 476px 1592px #fff, 660px 1445px #fff, 557px 441px #fff,
    907px 164px #fff, 1466px 778px #fff, 1948px 357px #fff, 480px 1568px #fff,
    1504px 640px #fff, 845px 1832px #fff, 924px 480px #fff, 364px 15px #fff,
    976px 1119px #fff, 261px 1052px #fff, 915px 1479px #fff, 879px 1023px #fff,
    1616px 15px #fff, 1625px 454px #fff, 582px 622px #fff, 1083px 1676px #fff,
    1875px 951px #fff, 661px 1207px #fff, 555px 637px #fff, 855px 1340px #fff,
    639px 1838px #fff, 612px 717px #fff, 1321px 801px #fff, 965px 77px #fff,
    1346px 1726px #fff, 1023px 726px #fff, 71px 1158px #fff, 1037px 581px #fff,
    151px 1325px #fff, 1388px 36px #fff, 1751px 1106px #fff, 1595px 1853px #fff,
    1860px 32px #fff, 506px 1595px #fff, 1315px 1516px #fff, 1764px 400px #fff,
    1732px 1199px #fff, 1904px 321px #fff, 1505px 454px #fff, 674px 1871px #fff,
    752px 1873px #fff, 810px 1668px #fff, 1396px 1001px #fff, 1857px 352px #fff,
    1453px 149px #fff, 501px 1908px #fff, 23px 1860px #fff, 1708px 288px #fff,
    1750px 258px #fff, 409px 937px #fff, 323px 1710px #fff, 636px 27px #fff,
    1276px 234px #fff, 826px 1138px #fff, 1159px 1950px #fff, 110px 1816px #fff,
    1521px 335px #fff, 44px 241px #fff, 312px 1259px #fff, 893px 294px #fff,
    1248px 717px #fff, 1397px 1752px #fff, 1939px 977px #fff, 1791px 585px #fff,
    1202px 1256px #fff, 1855px 541px #fff, 689px 1199px #fff, 905px 1162px #fff,
    1494px 1621px #fff, 794px 1451px #fff, 1348px 720px #fff, 1491px 1350px #fff,
    481px 273px #fff, 1114px 1209px #fff, 1960px 101px #fff, 1786px 1457px #fff,
    21px 1256px #fff, 323px 1438px #fff, 82px 499px #fff, 961px 1173px #fff,
    1449px 1558px #fff, 1288px 1699px #fff, 1399px 1686px #fff,
    557px 1041px #fff, 1218px 594px #fff, 1580px 1670px #fff, 92px 580px #fff,
    1125px 611px #fff, 869px 629px #fff, 1338px 1848px #fff, 1710px 1357px #fff,
    164px 1366px #fff, 112px 1522px #fff, 227px 362px #fff, 776px 1546px #fff,
    1898px 1781px #fff, 1786px 313px #fff, 1347px 1416px #fff, 1673px 293px #fff,
    1846px 559px #fff, 1785px 1856px #fff, 1888px 653px #fff, 341px 468px #fff,
    571px 1235px #fff, 293px 569px #fff, 1427px 35px #fff, 455px 1309px #fff,
    522px 1895px #fff, 742px 1163px #fff, 410px 585px #fff, 1510px 339px #fff,
    159px 355px #fff, 794px 1866px #fff, 1365px 1111px #fff, 214px 1831px #fff,
    1958px 898px #fff, 1020px 1478px #fff, 1732px 1837px #fff, 938px 1998px #fff,
    1054px 677px #fff, 1375px 162px #fff, 326px 352px #fff, 1539px 42px #fff,
    1972px 64px #fff, 20px 849px #fff, 1754px 800px #fff, 216px 1641px #fff,
    416px 1625px #fff, 114px 254px #fff, 828px 1050px #fff, 319px 23px #fff,
    1769px 248px #fff, 1459px 51px #fff, 889px 803px #fff, 451px 436px #fff,
    72px 1875px #fff, 1052px 24px #fff, 347px 503px #fff, 1020px 1194px #fff,
    1361px 809px #fff, 276px 789px #fff, 1693px 883px #fff, 844px 65px #fff,
    391px 1932px #fff, 439px 241px #fff, 535px 1155px #fff, 1450px 990px #fff,
    642px 737px #fff, 1088px 2px #fff, 354px 163px #fff, 459px 40px #fff,
    1713px 1346px #fff, 1944px 732px #fff, 1105px 20px #fff, 1053px 1874px #fff,
    609px 1166px #fff, 1576px 1274px #fff, 1721px 574px #fff, 579px 821px #fff,
    1255px 1229px #fff, 52px 203px #fff, 1914px 533px #fff, 865px 1937px #fff,
    1999px 273px #fff, 1401px 1474px #fff, 85px 1488px #fff, 1607px 607px #fff,
    22px 429px #fff, 529px 1141px #fff, 1152px 37px #fff, 908px 1905px #fff,
    951px 1638px #fff, 1628px 1814px #fff, 1563px 1094px #fff, 160px 1703px #fff,
    1213px 1654px #fff, 1660px 610px #fff, 694px 1181px #fff, 966px 1600px #fff,
    1342px 956px #fff, 1509px 58px #fff, 1954px 1117px #fff, 506px 1991px #fff,
    477px 1111px #fff, 1891px 1654px #fff, 220px 436px #fff, 1596px 308px #fff,
    293px 887px #fff, 611px 1719px #fff, 810px 1861px #fff, 376px 1756px #fff,
    1704px 1169px #fff, 1172px 554px #fff, 30px 1921px #fff, 871px 1549px #fff,
    1244px 162px #fff, 1756px 578px #fff, 1020px 200px #fff, 721px 1975px #fff,
    1531px 67px #fff, 1458px 632px #fff, 1163px 677px #fff, 1660px 1517px #fff,
    545px 1364px #fff, 927px 1341px #fff, 1094px 450px #fff, 867px 1701px #fff,
    360px 886px #fff, 614px 731px #fff, 1608px 1585px #fff, 1726px 1042px #fff,
    1089px 1439px #fff, 1737px 1838px #fff, 1536px 164px #fff, 479px 789px #fff,
    691px 1106px #fff, 1455px 36px #fff, 1541px 435px #fff, 958px 1481px #fff,
    1044px 1266px #fff, 1955px 217px #fff, 601px 1080px #fff, 287px 1896px #fff,
    1804px 1615px #fff, 1437px 1453px #fff, 722px 599px #fff, 1907px 1549px #fff,
    1926px 478px #fff, 1667px 945px #fff, 370px 699px #fff, 1085px 1293px #fff,
    1045px 1588px #fff, 298px 1686px #fff, 370px 1049px #fff, 1503px 1987px #fff,
    1775px 1328px #fff, 1476px 1554px #fff, 710px 1306px #fff, 254px 1662px #fff,
    414px 1054px #fff, 757px 310px #fff, 601px 1570px #fff, 1571px 1388px #fff,
    1925px 1040px #fff, 1498px 29px #fff, 1137px 1022px #fff, 433px 1478px #fff,
    1262px 671px #fff, 1028px 841px #fff, 788px 528px #fff, 1142px 1845px #fff,
    458px 1472px #fff, 1241px 1933px #fff, 441px 1605px #fff, 556px 1897px #fff,
    603px 1510px #fff, 1239px 922px #fff, 432px 1786px #fff, 1075px 833px #fff,
    1982px 41px #fff, 1163px 839px #fff, 1699px 817px #fff, 1860px 743px #fff,
    1908px 917px #fff, 1058px 590px #fff, 936px 1297px #fff, 923px 1797px #fff,
    751px 175px #fff, 1672px 398px #fff, 368px 117px #fff, 80px 1882px #fff,
    967px 103px #fff, 185px 119px #fff, 1397px 1135px #fff, 1316px 171px #fff,
    60px 1782px #fff, 1823px 1089px #fff, 421px 214px #fff, 1632px 1267px #fff,
    1762px 1950px #fff, 1605px 819px #fff, 328px 529px #fff, 1787px 955px #fff,
    814px 222px #fff, 341px 359px #fff, 1804px 1278px #fff, 1287px 197px #fff,
    390px 1959px #fff, 288px 764px #fff, 1923px 23px #fff, 600px 1464px #fff,
    431px 671px #fff, 632px 1566px #fff, 1605px 786px #fff, 1819px 1874px #fff,
    161px 256px #fff, 980px 892px #fff, 83px 1142px #fff, 540px 167px #fff,
    422px 763px #fff, 1378px 115px #fff, 1756px 583px #fff, 233px 214px #fff,
    1216px 631px #fff, 1539px 31px #fff, 1655px 1536px #fff, 1908px 164px #fff,
    927px 664px #fff, 487px 1524px #fff, 1189px 1571px #fff, 220px 783px #fff,
    871px 1320px #fff, 1285px 1036px #fff, 832px 967px #fff, 1305px 1183px #fff,
    1941px 819px #fff, 1404px 546px #fff, 290px 1416px #fff, 110px 1034px #fff,
    1413px 1594px #fff, 825px 1256px #fff, 1610px 944px #fff, 709px 1984px #fff,
    1690px 909px #fff, 93px 14px #fff, 1269px 1482px #fff, 1699px 810px #fff,
    46px 1997px #fff, 213px 870px #fff, 340px 286px #fff, 1689px 183px #fff,
    1074px 1617px #fff, 1421px 1972px #fff, 212px 603px #fff, 1550px 575px #fff,
    1852px 1268px #fff, 1319px 1205px #fff, 1268px 1606px #fff, 546px 408px #fff,
    314px 1714px #fff, 474px 301px #fff, 550px 1327px #fff, 1407px 151px #fff,
    1119px 1055px #fff, 484px 1590px #fff, 1355px 1619px #fff,
    1893px 1425px #fff, 334px 1940px #fff, 268px 521px #fff, 1902px 1326px #fff,
    1419px 1289px #fff, 1915px 1976px #fff, 1278px 1811px #fff,
    1524px 826px #fff, 756px 446px #fff, 397px 387px #fff, 1931px 616px #fff,
    1939px 758px #fff, 419px 1548px #fff, 290px 1156px #fff, 1919px 626px #fff,
    1302px 1439px #fff, 1635px 1436px #fff, 632px 861px #fff, 1416px 1202px #fff,
    1147px 1135px #fff, 1300px 1124px #fff, 192px 1978px #fff,
    1796px 1079px #fff, 937px 1023px #fff, 1011px 106px #fff, 165px 412px #fff,
    618px 819px #fff, 1693px 1610px #fff, 215px 195px #fff, 498px 5px #fff,
    1926px 1243px #fff, 253px 108px #fff, 744px 1819px #fff, 1085px 1628px #fff,
    1776px 1192px #fff, 1266px 289px #fff, 1117px 457px #fff, 693px 171px #fff,
    82px 992px #fff, 516px 1042px #fff, 1565px 469px #fff, 794px 1463px #fff,
    794px 973px #fff, 1454px 236px #fff, 591px 460px #fff, 1803px 1677px #fff,
    167px 647px #fff, 1009px 1493px #fff, 413px 735px #fff, 1735px 728px #fff,
    1771px 1267px #fff, 1777px 518px #fff, 960px 1429px #fff, 187px 1682px #fff,
    438px 264px #fff, 407px 291px #fff, 1293px 744px #fff, 152px 1193px #fff,
    11px 979px #fff, 610px 740px #fff, 1805px 64px #fff, 350px 1550px #fff,
    1046px 94px #fff, 312px 1155px #fff, 605px 1743px #fff, 988px 1736px #fff,
    150px 1927px #fff, 1824px 1737px #fff, 1992px 407px #fff, 345px 417px #fff,
    1198px 519px #fff, 997px 1228px #fff, 397px 781px #fff, 1471px 969px #fff,
    1318px 1487px #fff, 664px 504px #fff, 824px 1303px #fff, 98px 1487px #fff,
    852px 1454px #fff, 568px 1646px #fff, 918px 1871px #fff, 1109px 320px #fff,
    1400px 1757px #fff, 1908px 1089px #fff, 1395px 338px #fff, 902px 1598px #fff,
    414px 482px #fff, 1704px 1619px #fff, 311px 407px #fff, 479px 1149px #fff,
    1030px 1955px #fff, 343px 47px #fff, 1010px 164px #fff, 1614px 604px #fff,
    429px 317px #fff, 171px 1829px #fff, 300px 1913px #fff, 966px 17px #fff,
    201px 1104px #fff, 1944px 1546px #fff, 1938px 1584px #fff, 368px 779px #fff,
    1573px 1829px #fff, 842px 756px #fff, 593px 1752px #fff, 1669px 199px #fff,
    1956px 302px #fff, 54px 1269px #fff, 1861px 279px #fff, 127px 85px #fff,
    865px 827px #fff, 1391px 1310px #fff, 640px 640px #fff, 264px 474px #fff,
    823px 1649px #fff, 573px 302px #fff, 297px 249px #fff, 1928px 651px #fff,
    729px 1529px #fff, 881px 162px #fff, 1004px 176px #fff, 1390px 1938px #fff,
    1864px 946px #fff, 507px 883px #fff, 268px 149px #fff, 1848px 153px #fff,
    851px 873px #fff, 643px 1125px #fff, 1720px 1098px #fff, 1637px 1px #fff,
    170px 189px #fff, 1366px 1725px #fff, 75px 1586px #fff, 602px 781px #fff,
    741px 1310px #fff, 1461px 1092px #fff, 192px 1609px #fff, 1461px 1114px #fff,
    243px 210px #fff, 743px 674px #fff, 1270px 1212px #fff, 1195px 1544px #fff,
    136px 1078px #fff, 1448px 1609px #fff, 1414px 1462px #fff, 384px 479px #fff,
    1022px 14px #fff, 1997px 1933px #fff, 1066px 1626px #fff, 1918px 325px #fff,
    833px 570px #fff, 1454px 1345px #fff, 1570px 1193px #fff, 1166px 821px #fff,
    423px 840px #fff, 943px 987px #fff, 1168px 280px #fff, 1699px 1403px #fff,
    88px 1120px #fff, 585px 718px #fff, 1652px 1955px #fff, 327px 697px #fff,
    1158px 1549px #fff, 96px 1841px #fff, 753px 1821px #fff, 725px 1309px #fff,
    1005px 1542px #fff, 914px 1053px #fff, 945px 1852px #fff, 153px 1559px #fff,
    1083px 426px #fff, 1663px 224px #fff, 1149px 555px #fff, 1491px 263px #fff,
    37px 1961px #fff, 1927px 972px #fff, 1867px 1033px #fff, 1693px 293px #fff,
    421px 1147px #fff, 826px 60px #fff, 1079px 1102px #fff, 1990px 764px #fff,
    1304px 875px #fff, 1931px 1459px #fff, 1438px 1266px #fff, 1233px 579px #fff,
    783px 1px #fff, 653px 70px #fff, 538px 1607px #fff, 260px 1788px #fff,
    308px 1778px #fff, 975px 426px #fff, 1477px 83px #fff, 1161px 400px #fff,
    1485px 1210px #fff, 441px 820px #fff, 819px 1128px #fff, 688px 232px #fff,
    980px 1673px #fff, 293px 1873px #fff, 1449px 588px #fff, 1279px 1813px #fff,
    700px 1491px #fff, 1939px 1114px #fff, 85px 1696px #fff, 737px 1297px #fff,
    703px 1224px #fff, 541px 620px #fff, 1660px 73px #fff, 1724px 1267px #fff,
    1131px 874px #fff, 1930px 493px #fff, 894px 1306px #fff, 1501px 359px #fff,
    740px 446px #fff, 1039px 857px #fff, 79px 652px #fff, 1842px 330px #fff,
    833px 1467px #fff, 1401px 1324px #fff, 296px 1812px #fff, 1280px 1831px #fff,
    1817px 1520px #fff, 1878px 1935px #fff, 556px 1697px #fff, 1136px 65px #fff,
    140px 1160px #fff, 1896px 1629px #fff, 549px 1776px #fff, 1736px 712px #fff,
    378px 1895px #fff, 390px 591px #fff, 1769px 1420px #fff, 1670px 1769px #fff,
    1573px 1971px #fff, 1319px 738px #fff, 398px 1199px #fff, 444px 1649px #fff,
    518px 1459px #fff, 221px 160px #fff, 854px 1722px #fff, 1709px 1078px #fff,
    1825px 607px #fff, 431px 1879px #fff, 1952px 1180px #fff, 405px 321px #fff,
    1658px 1754px #fff, 1297px 921px #fff, 1670px 139px #fff, 1971px 1034px #fff,
    1174px 384px #fff, 1351px 342px #fff, 1844px 442px #fff, 1891px 419px #fff,
    1301px 1319px #fff, 1215px 1668px #fff, 131px 1072px #fff,
    1967px 1800px #fff, 487px 670px #fff, 1248px 18px #fff, 670px 764px #fff,
    626px 629px #fff, 1425px 52px #fff, 1041px 2px #fff, 1002px 664px #fff,
    1348px 1875px #fff, 1420px 1058px #fff, 218px 398px #fff, 1810px 1760px #fff,
    371px 278px #fff, 1980px 30px #fff, 1728px 465px #fff, 469px 1444px #fff,
    1707px 595px #fff, 1981px 322px #fff, 852px 1833px #fff, 54px 177px #fff,
    934px 1460px #fff, 1545px 399px #fff, 1956px 1904px #fff, 1159px 1119px #fff,
    1516px 702px #fff, 526px 1383px #fff, 318px 1281px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1871px 191px #fff, 631px 1280px #fff, 1247px 1959px #fff,
    1894px 1698px #fff, 1762px 1049px #fff, 1039px 1917px #fff,
    1621px 261px #fff, 622px 865px #fff, 1340px 1389px #fff, 577px 82px #fff,
    594px 791px #fff, 1621px 1095px #fff, 1738px 1161px #fff, 2px 487px #fff,
    1965px 719px #fff, 1240px 1597px #fff, 195px 1338px #fff, 999px 848px #fff,
    1178px 828px #fff, 451px 1444px #fff, 180px 852px #fff, 16px 1343px #fff,
    604px 1258px #fff, 1315px 1967px #fff, 805px 1090px #fff, 273px 991px #fff,
    621px 1617px #fff, 1240px 1223px #fff, 1244px 257px #fff, 654px 1416px #fff,
    1343px 118px #fff, 109px 1335px #fff, 1423px 988px #fff, 819px 1052px #fff,
    659px 986px #fff, 188px 1321px #fff, 192px 1815px #fff, 388px 107px #fff,
    1824px 760px #fff, 842px 497px #fff, 1622px 1446px #fff, 216px 878px #fff,
    668px 410px #fff, 303px 678px #fff, 469px 281px #fff, 495px 1908px #fff,
    120px 896px #fff, 89px 1374px #fff, 1719px 470px #fff, 45px 1230px #fff,
    312px 652px #fff, 817px 700px #fff, 965px 239px #fff, 1625px 462px #fff,
    1332px 1229px #fff, 1857px 176px #fff, 518px 908px #fff, 1936px 1045px #fff,
    1858px 1595px #fff, 466px 783px #fff, 1736px 1729px #fff, 276px 1296px #fff,
    293px 507px #fff, 835px 616px #fff, 1505px 1237px #fff, 1380px 337px #fff,
    337px 782px #fff, 476px 1592px #fff, 660px 1445px #fff, 557px 441px #fff,
    907px 164px #fff, 1466px 778px #fff, 1948px 357px #fff, 480px 1568px #fff,
    1504px 640px #fff, 845px 1832px #fff, 924px 480px #fff, 364px 15px #fff,
    976px 1119px #fff, 261px 1052px #fff, 915px 1479px #fff, 879px 1023px #fff,
    1616px 15px #fff, 1625px 454px #fff, 582px 622px #fff, 1083px 1676px #fff,
    1875px 951px #fff, 661px 1207px #fff, 555px 637px #fff, 855px 1340px #fff,
    639px 1838px #fff, 612px 717px #fff, 1321px 801px #fff, 965px 77px #fff,
    1346px 1726px #fff, 1023px 726px #fff, 71px 1158px #fff, 1037px 581px #fff,
    151px 1325px #fff, 1388px 36px #fff, 1751px 1106px #fff, 1595px 1853px #fff,
    1860px 32px #fff, 506px 1595px #fff, 1315px 1516px #fff, 1764px 400px #fff,
    1732px 1199px #fff, 1904px 321px #fff, 1505px 454px #fff, 674px 1871px #fff,
    752px 1873px #fff, 810px 1668px #fff, 1396px 1001px #fff, 1857px 352px #fff,
    1453px 149px #fff, 501px 1908px #fff, 23px 1860px #fff, 1708px 288px #fff,
    1750px 258px #fff, 409px 937px #fff, 323px 1710px #fff, 636px 27px #fff,
    1276px 234px #fff, 826px 1138px #fff, 1159px 1950px #fff, 110px 1816px #fff,
    1521px 335px #fff, 44px 241px #fff, 312px 1259px #fff, 893px 294px #fff,
    1248px 717px #fff, 1397px 1752px #fff, 1939px 977px #fff, 1791px 585px #fff,
    1202px 1256px #fff, 1855px 541px #fff, 689px 1199px #fff, 905px 1162px #fff,
    1494px 1621px #fff, 794px 1451px #fff, 1348px 720px #fff, 1491px 1350px #fff,
    481px 273px #fff, 1114px 1209px #fff, 1960px 101px #fff, 1786px 1457px #fff,
    21px 1256px #fff, 323px 1438px #fff, 82px 499px #fff, 961px 1173px #fff,
    1449px 1558px #fff, 1288px 1699px #fff, 1399px 1686px #fff,
    557px 1041px #fff, 1218px 594px #fff, 1580px 1670px #fff, 92px 580px #fff,
    1125px 611px #fff, 869px 629px #fff, 1338px 1848px #fff, 1710px 1357px #fff,
    164px 1366px #fff, 112px 1522px #fff, 227px 362px #fff, 776px 1546px #fff,
    1898px 1781px #fff, 1786px 313px #fff, 1347px 1416px #fff, 1673px 293px #fff,
    1846px 559px #fff, 1785px 1856px #fff, 1888px 653px #fff, 341px 468px #fff,
    571px 1235px #fff, 293px 569px #fff, 1427px 35px #fff, 455px 1309px #fff,
    522px 1895px #fff, 742px 1163px #fff, 410px 585px #fff, 1510px 339px #fff,
    159px 355px #fff, 794px 1866px #fff, 1365px 1111px #fff, 214px 1831px #fff,
    1958px 898px #fff, 1020px 1478px #fff, 1732px 1837px #fff, 938px 1998px #fff,
    1054px 677px #fff, 1375px 162px #fff, 326px 352px #fff, 1539px 42px #fff,
    1972px 64px #fff, 20px 849px #fff, 1754px 800px #fff, 216px 1641px #fff,
    416px 1625px #fff, 114px 254px #fff, 828px 1050px #fff, 319px 23px #fff,
    1769px 248px #fff, 1459px 51px #fff, 889px 803px #fff, 451px 436px #fff,
    72px 1875px #fff, 1052px 24px #fff, 347px 503px #fff, 1020px 1194px #fff,
    1361px 809px #fff, 276px 789px #fff, 1693px 883px #fff, 844px 65px #fff,
    391px 1932px #fff, 439px 241px #fff, 535px 1155px #fff, 1450px 990px #fff,
    642px 737px #fff, 1088px 2px #fff, 354px 163px #fff, 459px 40px #fff,
    1713px 1346px #fff, 1944px 732px #fff, 1105px 20px #fff, 1053px 1874px #fff,
    609px 1166px #fff, 1576px 1274px #fff, 1721px 574px #fff, 579px 821px #fff,
    1255px 1229px #fff, 52px 203px #fff, 1914px 533px #fff, 865px 1937px #fff,
    1999px 273px #fff, 1401px 1474px #fff, 85px 1488px #fff, 1607px 607px #fff,
    22px 429px #fff, 529px 1141px #fff, 1152px 37px #fff, 908px 1905px #fff,
    951px 1638px #fff, 1628px 1814px #fff, 1563px 1094px #fff, 160px 1703px #fff,
    1213px 1654px #fff, 1660px 610px #fff, 694px 1181px #fff, 966px 1600px #fff,
    1342px 956px #fff, 1509px 58px #fff, 1954px 1117px #fff, 506px 1991px #fff,
    477px 1111px #fff, 1891px 1654px #fff, 220px 436px #fff, 1596px 308px #fff,
    293px 887px #fff, 611px 1719px #fff, 810px 1861px #fff, 376px 1756px #fff,
    1704px 1169px #fff, 1172px 554px #fff, 30px 1921px #fff, 871px 1549px #fff,
    1244px 162px #fff, 1756px 578px #fff, 1020px 200px #fff, 721px 1975px #fff,
    1531px 67px #fff, 1458px 632px #fff, 1163px 677px #fff, 1660px 1517px #fff,
    545px 1364px #fff, 927px 1341px #fff, 1094px 450px #fff, 867px 1701px #fff,
    360px 886px #fff, 614px 731px #fff, 1608px 1585px #fff, 1726px 1042px #fff,
    1089px 1439px #fff, 1737px 1838px #fff, 1536px 164px #fff, 479px 789px #fff,
    691px 1106px #fff, 1455px 36px #fff, 1541px 435px #fff, 958px 1481px #fff,
    1044px 1266px #fff, 1955px 217px #fff, 601px 1080px #fff, 287px 1896px #fff,
    1804px 1615px #fff, 1437px 1453px #fff, 722px 599px #fff, 1907px 1549px #fff,
    1926px 478px #fff, 1667px 945px #fff, 370px 699px #fff, 1085px 1293px #fff,
    1045px 1588px #fff, 298px 1686px #fff, 370px 1049px #fff, 1503px 1987px #fff,
    1775px 1328px #fff, 1476px 1554px #fff, 710px 1306px #fff, 254px 1662px #fff,
    414px 1054px #fff, 757px 310px #fff, 601px 1570px #fff, 1571px 1388px #fff,
    1925px 1040px #fff, 1498px 29px #fff, 1137px 1022px #fff, 433px 1478px #fff,
    1262px 671px #fff, 1028px 841px #fff, 788px 528px #fff, 1142px 1845px #fff,
    458px 1472px #fff, 1241px 1933px #fff, 441px 1605px #fff, 556px 1897px #fff,
    603px 1510px #fff, 1239px 922px #fff, 432px 1786px #fff, 1075px 833px #fff,
    1982px 41px #fff, 1163px 839px #fff, 1699px 817px #fff, 1860px 743px #fff,
    1908px 917px #fff, 1058px 590px #fff, 936px 1297px #fff, 923px 1797px #fff,
    751px 175px #fff, 1672px 398px #fff, 368px 117px #fff, 80px 1882px #fff,
    967px 103px #fff, 185px 119px #fff, 1397px 1135px #fff, 1316px 171px #fff,
    60px 1782px #fff, 1823px 1089px #fff, 421px 214px #fff, 1632px 1267px #fff,
    1762px 1950px #fff, 1605px 819px #fff, 328px 529px #fff, 1787px 955px #fff,
    814px 222px #fff, 341px 359px #fff, 1804px 1278px #fff, 1287px 197px #fff,
    390px 1959px #fff, 288px 764px #fff, 1923px 23px #fff, 600px 1464px #fff,
    431px 671px #fff, 632px 1566px #fff, 1605px 786px #fff, 1819px 1874px #fff,
    161px 256px #fff, 980px 892px #fff, 83px 1142px #fff, 540px 167px #fff,
    422px 763px #fff, 1378px 115px #fff, 1756px 583px #fff, 233px 214px #fff,
    1216px 631px #fff, 1539px 31px #fff, 1655px 1536px #fff, 1908px 164px #fff,
    927px 664px #fff, 487px 1524px #fff, 1189px 1571px #fff, 220px 783px #fff,
    871px 1320px #fff, 1285px 1036px #fff, 832px 967px #fff, 1305px 1183px #fff,
    1941px 819px #fff, 1404px 546px #fff, 290px 1416px #fff, 110px 1034px #fff,
    1413px 1594px #fff, 825px 1256px #fff, 1610px 944px #fff, 709px 1984px #fff,
    1690px 909px #fff, 93px 14px #fff, 1269px 1482px #fff, 1699px 810px #fff,
    46px 1997px #fff, 213px 870px #fff, 340px 286px #fff, 1689px 183px #fff,
    1074px 1617px #fff, 1421px 1972px #fff, 212px 603px #fff, 1550px 575px #fff,
    1852px 1268px #fff, 1319px 1205px #fff, 1268px 1606px #fff, 546px 408px #fff,
    314px 1714px #fff, 474px 301px #fff, 550px 1327px #fff, 1407px 151px #fff,
    1119px 1055px #fff, 484px 1590px #fff, 1355px 1619px #fff,
    1893px 1425px #fff, 334px 1940px #fff, 268px 521px #fff, 1902px 1326px #fff,
    1419px 1289px #fff, 1915px 1976px #fff, 1278px 1811px #fff,
    1524px 826px #fff, 756px 446px #fff, 397px 387px #fff, 1931px 616px #fff,
    1939px 758px #fff, 419px 1548px #fff, 290px 1156px #fff, 1919px 626px #fff,
    1302px 1439px #fff, 1635px 1436px #fff, 632px 861px #fff, 1416px 1202px #fff,
    1147px 1135px #fff, 1300px 1124px #fff, 192px 1978px #fff,
    1796px 1079px #fff, 937px 1023px #fff, 1011px 106px #fff, 165px 412px #fff,
    618px 819px #fff, 1693px 1610px #fff, 215px 195px #fff, 498px 5px #fff,
    1926px 1243px #fff, 253px 108px #fff, 744px 1819px #fff, 1085px 1628px #fff,
    1776px 1192px #fff, 1266px 289px #fff, 1117px 457px #fff, 693px 171px #fff,
    82px 992px #fff, 516px 1042px #fff, 1565px 469px #fff, 794px 1463px #fff,
    794px 973px #fff, 1454px 236px #fff, 591px 460px #fff, 1803px 1677px #fff,
    167px 647px #fff, 1009px 1493px #fff, 413px 735px #fff, 1735px 728px #fff,
    1771px 1267px #fff, 1777px 518px #fff, 960px 1429px #fff, 187px 1682px #fff,
    438px 264px #fff, 407px 291px #fff, 1293px 744px #fff, 152px 1193px #fff,
    11px 979px #fff, 610px 740px #fff, 1805px 64px #fff, 350px 1550px #fff,
    1046px 94px #fff, 312px 1155px #fff, 605px 1743px #fff, 988px 1736px #fff,
    150px 1927px #fff, 1824px 1737px #fff, 1992px 407px #fff, 345px 417px #fff,
    1198px 519px #fff, 997px 1228px #fff, 397px 781px #fff, 1471px 969px #fff,
    1318px 1487px #fff, 664px 504px #fff, 824px 1303px #fff, 98px 1487px #fff,
    852px 1454px #fff, 568px 1646px #fff, 918px 1871px #fff, 1109px 320px #fff,
    1400px 1757px #fff, 1908px 1089px #fff, 1395px 338px #fff, 902px 1598px #fff,
    414px 482px #fff, 1704px 1619px #fff, 311px 407px #fff, 479px 1149px #fff,
    1030px 1955px #fff, 343px 47px #fff, 1010px 164px #fff, 1614px 604px #fff,
    429px 317px #fff, 171px 1829px #fff, 300px 1913px #fff, 966px 17px #fff,
    201px 1104px #fff, 1944px 1546px #fff, 1938px 1584px #fff, 368px 779px #fff,
    1573px 1829px #fff, 842px 756px #fff, 593px 1752px #fff, 1669px 199px #fff,
    1956px 302px #fff, 54px 1269px #fff, 1861px 279px #fff, 127px 85px #fff,
    865px 827px #fff, 1391px 1310px #fff, 640px 640px #fff, 264px 474px #fff,
    823px 1649px #fff, 573px 302px #fff, 297px 249px #fff, 1928px 651px #fff,
    729px 1529px #fff, 881px 162px #fff, 1004px 176px #fff, 1390px 1938px #fff,
    1864px 946px #fff, 507px 883px #fff, 268px 149px #fff, 1848px 153px #fff,
    851px 873px #fff, 643px 1125px #fff, 1720px 1098px #fff, 1637px 1px #fff,
    170px 189px #fff, 1366px 1725px #fff, 75px 1586px #fff, 602px 781px #fff,
    741px 1310px #fff, 1461px 1092px #fff, 192px 1609px #fff, 1461px 1114px #fff,
    243px 210px #fff, 743px 674px #fff, 1270px 1212px #fff, 1195px 1544px #fff,
    136px 1078px #fff, 1448px 1609px #fff, 1414px 1462px #fff, 384px 479px #fff,
    1022px 14px #fff, 1997px 1933px #fff, 1066px 1626px #fff, 1918px 325px #fff,
    833px 570px #fff, 1454px 1345px #fff, 1570px 1193px #fff, 1166px 821px #fff,
    423px 840px #fff, 943px 987px #fff, 1168px 280px #fff, 1699px 1403px #fff,
    88px 1120px #fff, 585px 718px #fff, 1652px 1955px #fff, 327px 697px #fff,
    1158px 1549px #fff, 96px 1841px #fff, 753px 1821px #fff, 725px 1309px #fff,
    1005px 1542px #fff, 914px 1053px #fff, 945px 1852px #fff, 153px 1559px #fff,
    1083px 426px #fff, 1663px 224px #fff, 1149px 555px #fff, 1491px 263px #fff,
    37px 1961px #fff, 1927px 972px #fff, 1867px 1033px #fff, 1693px 293px #fff,
    421px 1147px #fff, 826px 60px #fff, 1079px 1102px #fff, 1990px 764px #fff,
    1304px 875px #fff, 1931px 1459px #fff, 1438px 1266px #fff, 1233px 579px #fff,
    783px 1px #fff, 653px 70px #fff, 538px 1607px #fff, 260px 1788px #fff,
    308px 1778px #fff, 975px 426px #fff, 1477px 83px #fff, 1161px 400px #fff,
    1485px 1210px #fff, 441px 820px #fff, 819px 1128px #fff, 688px 232px #fff,
    980px 1673px #fff, 293px 1873px #fff, 1449px 588px #fff, 1279px 1813px #fff,
    700px 1491px #fff, 1939px 1114px #fff, 85px 1696px #fff, 737px 1297px #fff,
    703px 1224px #fff, 541px 620px #fff, 1660px 73px #fff, 1724px 1267px #fff,
    1131px 874px #fff, 1930px 493px #fff, 894px 1306px #fff, 1501px 359px #fff,
    740px 446px #fff, 1039px 857px #fff, 79px 652px #fff, 1842px 330px #fff,
    833px 1467px #fff, 1401px 1324px #fff, 296px 1812px #fff, 1280px 1831px #fff,
    1817px 1520px #fff, 1878px 1935px #fff, 556px 1697px #fff, 1136px 65px #fff,
    140px 1160px #fff, 1896px 1629px #fff, 549px 1776px #fff, 1736px 712px #fff,
    378px 1895px #fff, 390px 591px #fff, 1769px 1420px #fff, 1670px 1769px #fff,
    1573px 1971px #fff, 1319px 738px #fff, 398px 1199px #fff, 444px 1649px #fff,
    518px 1459px #fff, 221px 160px #fff, 854px 1722px #fff, 1709px 1078px #fff,
    1825px 607px #fff, 431px 1879px #fff, 1952px 1180px #fff, 405px 321px #fff,
    1658px 1754px #fff, 1297px 921px #fff, 1670px 139px #fff, 1971px 1034px #fff,
    1174px 384px #fff, 1351px 342px #fff, 1844px 442px #fff, 1891px 419px #fff,
    1301px 1319px #fff, 1215px 1668px #fff, 131px 1072px #fff,
    1967px 1800px #fff, 487px 670px #fff, 1248px 18px #fff, 670px 764px #fff,
    626px 629px #fff, 1425px 52px #fff, 1041px 2px #fff, 1002px 664px #fff,
    1348px 1875px #fff, 1420px 1058px #fff, 218px 398px #fff, 1810px 1760px #fff,
    371px 278px #fff, 1980px 30px #fff, 1728px 465px #fff, 469px 1444px #fff,
    1707px 595px #fff, 1981px 322px #fff, 852px 1833px #fff, 54px 177px #fff,
    934px 1460px #fff, 1545px 399px #fff, 1956px 1904px #fff, 1159px 1119px #fff,
    1516px 702px #fff, 526px 1383px #fff, 318px 1281px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1527px 1502px #fff, 1285px 332px #fff, 1926px 1465px #fff,
    1391px 378px #fff, 186px 655px #fff, 327px 1143px #fff, 599px 603px #fff,
    1776px 726px #fff, 1411px 297px #fff, 1612px 597px #fff, 277px 1315px #fff,
    1282px 1132px #fff, 243px 1711px #fff, 357px 1835px #fff, 1238px 1439px #fff,
    460px 1334px #fff, 359px 628px #fff, 525px 1026px #fff, 890px 1758px #fff,
    573px 1296px #fff, 1395px 50px #fff, 1487px 1414px #fff, 826px 911px #fff,
    157px 426px #fff, 334px 479px #fff, 278px 958px #fff, 713px 267px #fff,
    149px 1470px #fff, 1735px 1824px #fff, 719px 835px #fff, 1361px 1743px #fff,
    1590px 408px #fff, 1119px 872px #fff, 982px 541px #fff, 172px 723px #fff,
    238px 1151px #fff, 868px 1845px #fff, 472px 1755px #fff, 884px 60px #fff,
    471px 1814px #fff, 626px 394px #fff, 1762px 1827px #fff, 1191px 620px #fff,
    1329px 1091px #fff, 1358px 724px #fff, 1343px 281px #fff, 398px 1990px #fff,
    1915px 1788px #fff, 263px 1877px #fff, 1769px 1968px #fff, 1006px 730px #fff,
    267px 1792px #fff, 858px 1182px #fff, 1044px 1488px #fff, 770px 1234px #fff,
    185px 1109px #fff, 122px 660px #fff, 827px 1621px #fff, 616px 415px #fff,
    539px 1676px #fff, 1093px 201px #fff, 1541px 158px #fff, 1086px 233px #fff,
    364px 1113px #fff, 1837px 1802px #fff, 1002px 1699px #fff, 763px 1127px #fff,
    1305px 195px #fff, 1071px 1442px #fff, 849px 1425px #fff, 868px 972px #fff,
    1080px 1801px #fff, 1535px 1082px #fff, 118px 931px #fff, 1898px 48px #fff,
    608px 1565px #fff, 33px 721px #fff, 423px 1257px #fff, 1673px 685px #fff,
    768px 158px #fff, 727px 461px #fff, 379px 260px #fff, 1500px 1258px #fff,
    692px 1804px #fff, 1539px 11px #fff, 1270px 1167px #fff, 430px 1118px #fff,
    1298px 1722px #fff, 12px 1273px #fff, 884px 1961px #fff, 1744px 808px #fff,
    1412px 531px #fff, 1340px 444px #fff, 1964px 852px #fff, 463px 488px #fff,
    604px 582px #fff, 1856px 827px #fff, 1786px 244px #fff, 1523px 873px #fff,
    186px 1318px #fff, 1568px 68px #fff, 1415px 739px #fff, 1251px 1020px #fff,
    158px 102px #fff, 1824px 191px #fff, 1796px 1780px #fff, 1580px 649px #fff,
    397px 47px #fff, 881px 1771px #fff, 1100px 806px #fff, 1131px 897px #fff,
    1805px 1152px #fff, 659px 709px #fff, 1144px 1274px #fff, 308px 1431px #fff,
    1482px 1025px #fff, 938px 199px #fff, 550px 956px #fff, 686px 1254px #fff,
    1670px 793px #fff, 1969px 1437px #fff, 1774px 556px #fff, 10px 1151px #fff,
    452px 1093px #fff, 702px 230px #fff, 409px 1727px #fff, 972px 1781px #fff,
    1940px 241px #fff, 1590px 696px #fff, 1990px 1511px #fff, 1059px 178px #fff,
    847px 1285px #fff, 52px 94px #fff, 358px 866px #fff, 1322px 628px #fff,
    1956px 154px #fff, 1060px 834px #fff, 563px 1230px #fff, 1846px 1043px #fff,
    1905px 101px #fff, 1327px 1860px #fff, 1052px 1986px #fff,
    1847px 1341px #fff, 589px 1506px #fff, 338px 20px #fff, 85px 1878px #fff,
    83px 1856px #fff, 89px 1665px #fff, 678px 1725px #fff, 572px 238px #fff,
    392px 694px #fff, 1290px 680px #fff, 925px 1036px #fff, 581px 252px #fff,
    1413px 1309px #fff, 1489px 1136px #fff, 155px 1562px #fff,
    1552px 1562px #fff, 216px 677px #fff, 108px 1620px #fff, 1798px 1137px #fff,
    652px 367px #fff, 1292px 118px #fff, 179px 1053px #fff, 205px 1498px #fff,
    255px 1217px #fff, 1647px 538px #fff, 310px 1814px #fff, 1861px 1955px #fff,
    313px 1922px #fff, 328px 1182px #fff, 1525px 88px #fff, 919px 1028px #fff,
    966px 765px #fff, 2000px 1049px #fff, 619px 524px #fff, 1992px 1469px #fff,
    1794px 789px #fff, 1899px 584px #fff, 1036px 1525px #fff, 1953px 252px #fff,
    678px 1547px #fff, 272px 1515px #fff, 1465px 1252px #fff, 73px 556px #fff,
    1650px 1217px #fff, 141px 1789px #fff, 385px 828px #fff, 352px 739px #fff,
    1481px 247px #fff, 1071px 1945px #fff, 1933px 1776px #fff, 1417px 399px #fff,
    287px 533px #fff, 893px 1737px #fff, 1293px 1727px #fff, 1598px 1971px #fff,
    450px 1579px #fff, 976px 611px #fff, 490px 1311px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1527px 1502px #fff, 1285px 332px #fff, 1926px 1465px #fff,
    1391px 378px #fff, 186px 655px #fff, 327px 1143px #fff, 599px 603px #fff,
    1776px 726px #fff, 1411px 297px #fff, 1612px 597px #fff, 277px 1315px #fff,
    1282px 1132px #fff, 243px 1711px #fff, 357px 1835px #fff, 1238px 1439px #fff,
    460px 1334px #fff, 359px 628px #fff, 525px 1026px #fff, 890px 1758px #fff,
    573px 1296px #fff, 1395px 50px #fff, 1487px 1414px #fff, 826px 911px #fff,
    157px 426px #fff, 334px 479px #fff, 278px 958px #fff, 713px 267px #fff,
    149px 1470px #fff, 1735px 1824px #fff, 719px 835px #fff, 1361px 1743px #fff,
    1590px 408px #fff, 1119px 872px #fff, 982px 541px #fff, 172px 723px #fff,
    238px 1151px #fff, 868px 1845px #fff, 472px 1755px #fff, 884px 60px #fff,
    471px 1814px #fff, 626px 394px #fff, 1762px 1827px #fff, 1191px 620px #fff,
    1329px 1091px #fff, 1358px 724px #fff, 1343px 281px #fff, 398px 1990px #fff,
    1915px 1788px #fff, 263px 1877px #fff, 1769px 1968px #fff, 1006px 730px #fff,
    267px 1792px #fff, 858px 1182px #fff, 1044px 1488px #fff, 770px 1234px #fff,
    185px 1109px #fff, 122px 660px #fff, 827px 1621px #fff, 616px 415px #fff,
    539px 1676px #fff, 1093px 201px #fff, 1541px 158px #fff, 1086px 233px #fff,
    364px 1113px #fff, 1837px 1802px #fff, 1002px 1699px #fff, 763px 1127px #fff,
    1305px 195px #fff, 1071px 1442px #fff, 849px 1425px #fff, 868px 972px #fff,
    1080px 1801px #fff, 1535px 1082px #fff, 118px 931px #fff, 1898px 48px #fff,
    608px 1565px #fff, 33px 721px #fff, 423px 1257px #fff, 1673px 685px #fff,
    768px 158px #fff, 727px 461px #fff, 379px 260px #fff, 1500px 1258px #fff,
    692px 1804px #fff, 1539px 11px #fff, 1270px 1167px #fff, 430px 1118px #fff,
    1298px 1722px #fff, 12px 1273px #fff, 884px 1961px #fff, 1744px 808px #fff,
    1412px 531px #fff, 1340px 444px #fff, 1964px 852px #fff, 463px 488px #fff,
    604px 582px #fff, 1856px 827px #fff, 1786px 244px #fff, 1523px 873px #fff,
    186px 1318px #fff, 1568px 68px #fff, 1415px 739px #fff, 1251px 1020px #fff,
    158px 102px #fff, 1824px 191px #fff, 1796px 1780px #fff, 1580px 649px #fff,
    397px 47px #fff, 881px 1771px #fff, 1100px 806px #fff, 1131px 897px #fff,
    1805px 1152px #fff, 659px 709px #fff, 1144px 1274px #fff, 308px 1431px #fff,
    1482px 1025px #fff, 938px 199px #fff, 550px 956px #fff, 686px 1254px #fff,
    1670px 793px #fff, 1969px 1437px #fff, 1774px 556px #fff, 10px 1151px #fff,
    452px 1093px #fff, 702px 230px #fff, 409px 1727px #fff, 972px 1781px #fff,
    1940px 241px #fff, 1590px 696px #fff, 1990px 1511px #fff, 1059px 178px #fff,
    847px 1285px #fff, 52px 94px #fff, 358px 866px #fff, 1322px 628px #fff,
    1956px 154px #fff, 1060px 834px #fff, 563px 1230px #fff, 1846px 1043px #fff,
    1905px 101px #fff, 1327px 1860px #fff, 1052px 1986px #fff,
    1847px 1341px #fff, 589px 1506px #fff, 338px 20px #fff, 85px 1878px #fff,
    83px 1856px #fff, 89px 1665px #fff, 678px 1725px #fff, 572px 238px #fff,
    392px 694px #fff, 1290px 680px #fff, 925px 1036px #fff, 581px 252px #fff,
    1413px 1309px #fff, 1489px 1136px #fff, 155px 1562px #fff,
    1552px 1562px #fff, 216px 677px #fff, 108px 1620px #fff, 1798px 1137px #fff,
    652px 367px #fff, 1292px 118px #fff, 179px 1053px #fff, 205px 1498px #fff,
    255px 1217px #fff, 1647px 538px #fff, 310px 1814px #fff, 1861px 1955px #fff,
    313px 1922px #fff, 328px 1182px #fff, 1525px 88px #fff, 919px 1028px #fff,
    966px 765px #fff, 2000px 1049px #fff, 619px 524px #fff, 1992px 1469px #fff,
    1794px 789px #fff, 1899px 584px #fff, 1036px 1525px #fff, 1953px 252px #fff,
    678px 1547px #fff, 272px 1515px #fff, 1465px 1252px #fff, 73px 556px #fff,
    1650px 1217px #fff, 141px 1789px #fff, 385px 828px #fff, 352px 739px #fff,
    1481px 247px #fff, 1071px 1945px #fff, 1933px 1776px #fff, 1417px 399px #fff,
    287px 533px #fff, 893px 1737px #fff, 1293px 1727px #fff, 1598px 1971px #fff,
    450px 1579px #fff, 976px 611px #fff, 490px 1311px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1469px 16px #fff, 1231px 206px #fff, 1065px 1066px #fff,
    441px 1775px #fff, 408px 468px #fff, 29px 1923px #fff, 1867px 1695px #fff,
    125px 1084px #fff, 818px 1303px #fff, 266px 653px #fff, 769px 38px #fff,
    1418px 1298px #fff, 945px 1101px #fff, 183px 1714px #fff, 1267px 1019px #fff,
    491px 465px #fff, 1094px 478px #fff, 1506px 789px #fff, 176px 1837px #fff,
    1028px 495px #fff, 1505px 1765px #fff, 372px 1020px #fff, 281px 374px #fff,
    255px 1404px #fff, 207px 1705px #fff, 713px 16px #fff, 92px 634px #fff,
    1317px 470px #fff, 570px 679px #fff, 465px 400px #fff, 1513px 1529px #fff,
    991px 726px #fff, 776px 1074px #fff, 967px 1384px #fff, 768px 1945px #fff,
    1255px 454px #fff, 212px 1495px #fff, 1161px 343px #fff, 39px 578px #fff,
    1585px 355px #fff, 306px 1222px #fff, 619px 1651px #fff, 1885px 393px #fff,
    117px 1904px #fff, 346px 791px #fff, 1770px 42px #fff, 579px 350px #fff,
    453px 900px #fff, 281px 742px #fff, 1904px 1467px #fff, 1592px 1328px #fff,
    483px 1501px #fff, 760px 1532px #fff, 1788px 991px #fff, 255px 197px #fff,
    109px 989px #fff, 1322px 787px #fff, 1413px 1537px #fff, 194px 818px #fff,
    1912px 1958px #fff, 991px 1447px #fff, 890px 453px #fff, 828px 1930px #fff,
    1079px 781px #fff, 539px 119px #fff, 998px 492px #fff, 946px 1072px #fff,
    1032px 857px #fff, 1786px 59px #fff, 549px 881px #fff, 676px 395px #fff,
    1662px 1586px #fff, 1399px 1548px #fff, 580px 1084px #fff, 335px 1762px #fff,
    889px 397px #fff, 1691px 1989px #fff, 481px 554px #fff, 1014px 1865px #fff,
    608px 1220px #fff, 598px 392px #fff, 273px 1640px #fff, 1717px 1682px #fff,
    3px 1376px #fff, 36px 1121px #fff, 1585px 1620px #fff, 284px 1668px #fff,
    433px 334px #fff, 1107px 1449px #fff, 874px 827px #fff, 386px 450px #fff,
    1622px 687px #fff, 159px 1574px #fff, 379px 1149px #fff, 1922px 1328px #fff,
    1008px 714px #fff, 828px 487px #fff, 393px 406px #fff, 416px 19px #fff,
    583px 1284px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1469px 16px #fff, 1231px 206px #fff, 1065px 1066px #fff,
    441px 1775px #fff, 408px 468px #fff, 29px 1923px #fff, 1867px 1695px #fff,
    125px 1084px #fff, 818px 1303px #fff, 266px 653px #fff, 769px 38px #fff,
    1418px 1298px #fff, 945px 1101px #fff, 183px 1714px #fff, 1267px 1019px #fff,
    491px 465px #fff, 1094px 478px #fff, 1506px 789px #fff, 176px 1837px #fff,
    1028px 495px #fff, 1505px 1765px #fff, 372px 1020px #fff, 281px 374px #fff,
    255px 1404px #fff, 207px 1705px #fff, 713px 16px #fff, 92px 634px #fff,
    1317px 470px #fff, 570px 679px #fff, 465px 400px #fff, 1513px 1529px #fff,
    991px 726px #fff, 776px 1074px #fff, 967px 1384px #fff, 768px 1945px #fff,
    1255px 454px #fff, 212px 1495px #fff, 1161px 343px #fff, 39px 578px #fff,
    1585px 355px #fff, 306px 1222px #fff, 619px 1651px #fff, 1885px 393px #fff,
    117px 1904px #fff, 346px 791px #fff, 1770px 42px #fff, 579px 350px #fff,
    453px 900px #fff, 281px 742px #fff, 1904px 1467px #fff, 1592px 1328px #fff,
    483px 1501px #fff, 760px 1532px #fff, 1788px 991px #fff, 255px 197px #fff,
    109px 989px #fff, 1322px 787px #fff, 1413px 1537px #fff, 194px 818px #fff,
    1912px 1958px #fff, 991px 1447px #fff, 890px 453px #fff, 828px 1930px #fff,
    1079px 781px #fff, 539px 119px #fff, 998px 492px #fff, 946px 1072px #fff,
    1032px 857px #fff, 1786px 59px #fff, 549px 881px #fff, 676px 395px #fff,
    1662px 1586px #fff, 1399px 1548px #fff, 580px 1084px #fff, 335px 1762px #fff,
    889px 397px #fff, 1691px 1989px #fff, 481px 554px #fff, 1014px 1865px #fff,
    608px 1220px #fff, 598px 392px #fff, 273px 1640px #fff, 1717px 1682px #fff,
    3px 1376px #fff, 36px 1121px #fff, 1585px 1620px #fff, 284px 1668px #fff,
    433px 334px #fff, 1107px 1449px #fff, 874px 827px #fff, 386px 450px #fff,
    1622px 687px #fff, 159px 1574px #fff, 379px 1149px #fff, 1922px 1328px #fff,
    1008px 714px #fff, 828px 487px #fff, 393px 406px #fff, 416px 19px #fff,
    583px 1284px #fff;
}
